@inherits LayoutComponentBase

<MudThemeProvider/>
<MudDialogProvider/>
<MudSnackbarProvider/>

<div class="d-flex flex-column page">
    

    <main>
        <div class="top-row px-4">
            <h1>SINONIMOUS</h1>
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
        </div>

        <div class="">
            @Body
        </div>
    </main>
    
    <footer>
    <div class="container-3 d-flex align-items-center text-center justify-content-center">
        <ul>
            <li>
                <a href="#">BENJAMIN</a>
            </li>
            <li>
                <a href="#">Contact</a>
            </li>
            <li>
                <a href="#">Pagina de Inicio</a>
            </li>
            <li>
                <p>&copy; 2023 Nutrifoods Company. Todos los derechos reservados.</p>
            </li>
        </ul>
    </div>
</footer>
</div>