@using SeasonalFoods.Enums
@inject NavigationManager NavigationManager

<div class="food-container" @onclick="NavigateToFood">
    <div class="d-flex flex-row py-4 pr-10">
        <div class="d-flex justify-space-between flex-grow-1">
            <div class="d-flex flex-row gap-3">
                <div class="image-container">
                    <img alt="food-image" src="@Image"/>
                </div>
                <div class="d-flex flex-column gap-1">
                    <div class="d-flex gap-1">
                        <strong>@Name </strong>
                        <strong class="grey-color">@Variety</strong>
                    </div>
                    <div class="d-flex gap-1">
                        <span class="grey-color bi bi-calendar2"
                              style="font-size: 14px !important;">
                            @ShopPlace
                        </span>
                        <span class="grey-color bi bi-geo-alt"
                              style="font-size: 14px !important;">
                            @Region
                        </span>
                    </div>
                </div>

            </div>
            <span>$@Convert.ToInt32(Price)</span>
        </div>
    </div>
</div>


@code {

    [Parameter]
    public string Name { get; set; } = string.Empty;

    [Parameter]
    public string Image { get; set; } = string.Empty;

    [Parameter]
    public string Variety { get; set; } = string.Empty;

    [Parameter]
    public string LastUpdate { get; set; } = string.Empty;

    [Parameter]
    public string Region { get; set; } = string.Empty;

    [Parameter]
    public string Quality { get; set; } = string.Empty;

    [Parameter]
    public string ShopPlace { get; set; } = string.Empty;

    [Parameter]
    public decimal Price { get; set; }

    [Parameter]
    public bool Hovered { get; set; }

    int QualityInt => IEnum<Qualities, QualityToken>
        .FromReadableName(Quality)
        .Value;
    
    int RegionInt => IEnum<Regions, RegionToken>
        .FromReadableName(Region)
        .Value;

    private void NavigateToFood()
    {
        NavigationManager.NavigateTo($"/alimentos/{Name}/{QualityInt}/{RegionInt}");
    }
    

}