@using SeasonalFoods.Enums
@inject NavigationManager NavigationManager

<div class="food-container" @onclick="NavigateToFood">
    <div class="d-flex flex-row py-4 pr-10">
        <div class="d-flex justify-space-between flex-grow-1">
            <div class="d-flex flex-row gap-3">
                <div class="image-container">
                    <img alt="food-image" src="@Image"/>
                </div>
                <div class="d-flex flex-column gap-1">
                    <div class="d-flex gap-1">
                        <strong>@Name </strong>
                        <strong class="grey-color">@Variety</strong>
                    </div>
                    <div class="d-flex gap-1">
                        <span class="grey-color bi bi-calendar2"
                              style="font-size: 14px !important;">
                            Última actualización: @LastUpdate
                        </span>
                        <span class="grey-color bi bi-geo-alt"
                              style="font-size: 14px !important;">
                            Región de Coquimbo
                        </span>
                    </div>
                </div>
    
            </div>
            <span>$@Price</span>
        </div>
    </div>
</div>


@code {

    [Parameter]
    public string Name { get; set; } = string.Empty;

    [Parameter]
    public string Image { get; set; } = string.Empty;

    [Parameter]
    public string Variety { get; set; } = string.Empty;

    [Parameter]
    public string LastUpdate { get; set; } = string.Empty;

    [Parameter]
    public int Price { get; set; }

    [Parameter]
    public bool Hovered { get; set; }


    private void NavigateToFood()
    {
        NavigationManager.NavigateTo("/food");
    }
}