
strong, .price-font{
    font-size: 18px;
}
.food-container :hover{
    background-color: whitesmoke;
    cursor: pointer;
}
.grey-color{
    color: #B9B4B4;
}

.image-container {
    width: 56px;
    height: 56px;
    overflow: hidden;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
