@page "/"

<!-- Start Landing Page -->
<div class="landing-page">
    <div class="content">
        <div class="container">
            <div class="info">
                <h1>Temporada y Bolsillo: Navegando en Precios de Alimentos</h1>
                <p>Descubre el mundo de los alimentos frescos con SeaseonalFoods. Encuentra información actualizada sobre precios
                    y temporadas de productos regionales. Planifica tus compras de manera inteligente y disfruta de la frescura mientras ahorras. sino
                    </p>
                <button>Empezar</button>
            </div>
            <div class="image">
                <img src="Cambios-que-revolucionaron-el-consumo-de-alimentos-PhotoRoom.png-PhotoRoom.png">
            </div>
        </div>
    </div>
</div>
<!-- End Landing Page -->