@page "/"

<PageTitle>Index</PageTitle>


<div class="">
    <MudGrid Class="">
        <MudItem Class="d-flex flex-column justify-content-center align-content-center" md="4"
                 sm="12"
                 xs="12">
            <h1>Temporada y Bolsillo: Navegando en <span class="resaltado">Precios</span> de <span class="resaltado">Alimentos</span> Locales</h1>
            <h5>Desde locales a precios historicos por alimentos</h5>
        </MudItem>
        <MudItem md="8"
                 sm="12"
                 xs="12" Class="d-flex flex-column justify-content-center align-content-center">
            <MudImage Fluid="true" Src="frutas.jpg" Alt="imagen" Class="rounded-lg" Style="transform: rotate(90deg);"/>
        </MudItem>
    </MudGrid>
</div>