@inject NavigationManager NavigationManager
@page "/"


<div class="landing-page">
    <div class="content">
        <div class="container">
            <div class="info">
                <h1 class="fw-bolder">Descubre el mundo de los alimentos de temporada con SeasonalFoods.</h1>
                <p>Encuentra información actualizada sobre precios y temporadas de productos regionales. Planifica tus compras de manera inteligente y disfruta de la frescura mientras ahorras. sino
                </p>
                <button class="fw-bolder" @onclick="NavigateToAdvancedSearch" >Descubrir alimentos</button>
            </div>
            <div class="image">
                <img src="Cambios-que-revolucionaron-el-consumo-de-alimentos-PhotoRoom.png-PhotoRoom.png">
            </div>
        </div>
    </div>
</div>
<div class="container-2 d-flex align-items-center text-center">
    <div class="">
        <h2 class="fw-bold">Explora la variedad de alimentos por regiones</h2>
        <h3>Descubre las opciones más convenientes.</h3>
        <h4>¡Encuentra las mejores alimentos para tu familia!</h4>
        <button class="boton">VISUALIZAR</button>
    </div>
</div>
<div class="landing-page">
    <div class="content">
        <div class="container d-flex align-items-center">
            <div class="info">
                <h1 class="fw-bolder">Explora las tendencias de precios: Subidas y bajadas</h1>
                <p>Accede a más de 2 años de registros de precios en cada región, entre comunas y diversos tipos de comercios, incluyendo supermercados y ferias libres.</p>
            </div>
            <div class="image">
                <img src="grafica-2.png">
            </div>
        </div>
    </div>
</div>


@code{

    private void NavigateToAdvancedSearch()
    {
        NavigationManager.NavigateTo("/busqueda-avanzada");
    }

}

