@page "/"


<div class="landing-page">
    <div class="content">
        <div class="container">
            <div class="info">
                <h1>Temporada y Bolsillo: Navegando en Precios de Alimentos</h1>
                <p>
                    Descubre el mundo de los alimentos frescos con SeaseonalFoods. Encuentra información actualizada sobre precios
                    y temporadas de productos regionales. Planifica tus compras de manera inteligente y disfruta de la frescura mientras ahorras. sino
                </p>
                <button>Empezar</button>
            </div>
            <div class="image">
                <img src="Cambios-que-revolucionaron-el-consumo-de-alimentos-PhotoRoom.png-PhotoRoom.png">
            </div>
        </div>
    </div>
</div>
<div class="container-2 d-flex align-items-center text-center">
    <div class="">
        <h2>Explora la variedad de alimentos por regiones: Visualiza la oferta de productos disponibles en cada zona.</h2>
        <h3>Registra los precios y descubre las opciones más convenientes.</h3>
        <h4>¡Encuentra las mejores alimentos para tu familia!</h4>
        <button class="boton">VISUALIZAR</button>
    </div>
</div>
<div class="landing-page">
    <div class="content">
        <div class="container d-flex align-items-center">
            <div class="info">
                <h1>Explora las tendencias de precios: Subidas y bajadas</h1>
                <p>Accede a más de 2 años de registros de precios en cada región, entre comunas y diversos tipos de comercios, incluyendo supermercados y ferias libres.</p>
            </div>
            <div class="image">
                <img src="grafica-2.png">
            </div>
        </div>
    </div>
</div>
<footer>
    <div class="container-3 d-flex align-items-center text-center justify-content-center">
        <ul>
            <li>
                <a href="#">BENJAMIN</a>
            </li>
            <li>
                <a href="#">Contact</a>
            </li>
            <li>
                <a href="#">Pagina de Inicio</a>
            </li>
            <li>
                <p>&copy; 2023 Nutrifoods Company. Todos los derechos reservados.</p>
            </li>
        </ul>
    </div>
</footer>